main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
body {
  overflow: hidden;
  position: relative;
  height: 100vh;

  background-color: white;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes moveFromLeft {
  0% {
    transform: translateX(-500px); /* Start completely off-screen to the left */
    opacity: 0; /* Start invisible */
  }
  10% {
    transform: translateX(0); /* Enter screen */
    opacity: 1; /* Fully visible when it enters */
  }
  100% {
    transform: translateX(
      calc(100vw + 500px)
    ); /* Move completely off-screen to the right */
    opacity: 1; /* Stay fully visible */
  }
}

/* Adjust the animation timing function to ensure consistent speed */
.random-h2 {
  animation: moveFromLeft 20s cubic-bezier(0, 0, 1, 1) infinite;
}

.random-h2 {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: black;
  white-space: nowrap;
  font-family: "verdana-pro", sans-serif;

  font-style: normal;

  font-weight: 300;
  font-style: italic;
}

h1 {
  font-size: 3rem;
  padding: 0;
  margin: 0;

  font-family: "verdana-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3 {
  font-size: 2rem;
  padding: 0;
  margin: 0;

  font-family: "verdana-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 20px;
  padding: 0;
  margin: 0;

  font-family: "verdana-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  background-color: #ff0091;
  color: white;
  border-radius: 20rem;
  border: none;
  font-size: 2rem;
  width: 10rem;

  font-family: "verdana-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button:hover {
  background-color: black;
  color: white;
}

input {
  height: 60px;
  min-width: 600px;
  width: 100%;
  border-radius: 0.8rem;
  border: none;
  font-size: 2rem;
  /* width: 10rem; */

  font-family: "verdana-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: 10px;
}

article {
  gap: 1px;
  max-width: 800px;
  width: fit-content;
  z-index: 50;
  background-color: #ff9be1;

  display: grid;
  /* justify-content: center; */
  justify-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;

  /* gap: 1rem; */
  /* border-radius: 3%; */
  border-radius: 25px;
}
header {
  width: 100vw;
  position: absolute;
  z-index: 50;
  bottom: 0px;
  display: flex;
  padding: 40px;
  justify-content: space-around;
}

header a {
  color: black;
  font-size: 3rem;
  padding: 0;
  margin: 0;

  font-family: "verdana-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

header a:hover {
  color: #ff0091;
}

header a:active {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }
  h1 {
    font-size: 2rem;
    padding: 0;
    margin: 0;

    font-family: "verdana-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h3 {
    font-size: 2rem;
    padding: 0;
    margin: 0;

    font-family: "verdana-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  header a {
    color: black;
    font-size: 1rem;
    padding: 0;
    margin: 0;

    font-family: "verdana-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
  }

  input {
    height: 40px;
    min-width: 10px;
    width: 200px;
    border-radius: 0.8rem;
    border: none;
    font-size: 2rem;
    /* width: 10rem; */

    font-family: "verdana-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  article {
    gap: 1px;
    max-width: 800px;
    width: fit-content;
    z-index: 50;
    background-color: #ff9be1;

    display: grid;
    /* justify-content: center; */
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

    /* gap: 1rem; */
    /* border-radius: 3%; */
    border-radius: 25px;
  }
  button {
    background-color: #ff0091;
    color: white;
    border-radius: 20rem;
    border: none;
    font-size: 1rem;
    width: 10rem;

    font-family: "verdana-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
